body {
    background-color: black;
    margin: 30px;
    text-align: center;
    color: white;
    background-image: url(./../../assests/img/background-image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}