body {
    background-color: black;
    text-align: center;
    margin-top: 20px;
    color: white;
    background-image: url(./../../assests/img/background-image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
#planet-numbers {
    display: none;
}
.card {
    margin-top: 10px;
    text-align: left;
    padding: 25px;
    background-color: #37474F;
}
#change-info{
    display: none;
}
h1 {
    color: rgb(168, 230, 255);
    text-shadow: rgb(0, 183, 255) 1px 0 20px;
}
h5 {
    color: rgb(255, 159, 95);
}
h4 {
    color: rgb(168, 230, 255);
    text-shadow: rgb(0, 183, 255) 1px 0 20px;
}
